/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }

  html{
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  
  body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #0D606F;
    max-width: 1440px;
    margin: 0 auto;
  }


  /* Header styles start */
  
  .header{
    position: absolute;
    width: 1440px;
    height: 90px;
    top: 0;
    left: 0;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    z-index: 2;
  }

  .frame__1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    position: absolute;
    width: 103px;
    height: 41px;
    left: 1217px;
    top: 25px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
  }

  .login{
    width: 43px;
    height: 21px;
    color: white;
    font-weight: 500;
    line-height: 21px;
    margin-top: 10px;
    left: 30px;
    text-decoration: none;
  }

  .header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 35px;
  }

  .header__logo{
    position: absolute;
    width: 216px;
    height: 31px;
    left: 120px;
    top: 25px;
  }

  .header__list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 42px;
    position: absolute;
    margin: 0 auto;
    width: 527px;
    height: 28px;
    left: 494px;
    top: 35px;
  }

  .header__item{
    margin-right: none;
  }

  ul{
    list-style: none;
  }

  .header__item:last-child{
    margin-right: 0;
  }

  .header__link{
    width: 98px;
    height: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-decoration: none;
  }

  .header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
  }

  /* Header styles end */

  .preview__background{
    position: absolute;
    width: 1440px;
    height: 765px;
    left: 0px;
    top: 0px;
    background: url(../img/intro-bg.jpg);
    z-index: 1;
  }

  /* Preview styles start */

  .preview{
    position: absolute;
    width: 892px;
    height: 422px;
    left: 120px;
    top: 122px;
    border: 1px solid red;
    z-index: 2;
  }

  .search{
    position: absolute;
    width: 892px;
    height: 95px;
    top: 294px;
    border: 1px solid red;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
  }

  .search-form__field{
    position: absolute;
    width: 560px;
    height: 22px;
    left: 41px;
    top: 32px;
    border: none;
    background: none;
  }

  .search-form__field::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color:#F2785C;
  }

  .frame{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 228px;
    height: 59px;
    right: 18px;
    top: 18px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
  }

  .button__text{
    width: 163px;
    height: 32px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;

    color: #FFFFFF;
  }

  /* Preview styles end */